<!DOCTYPE html>
<html>
<head>
    <title>Create Card</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<form method="post" class="login">
    <input class="form__input" name="title" placeholder="Título" required>
    <input class="form__input" name="subtitle" placeholder="Subtítulo" required>
    <textarea class="form__text" name="text" placeholder="Texto" required></textarea>
    <button class="form__button">Guardar</button>
    <a href="/index" class="form__button">Cancelar</a>
</form>
</body>
</html>
