<!DOCTYPE html>
<html>
<head>
    <title>My Cards</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<h1 class="main__title">Mis tarjetas</h1>
<a class="form__button" href="/create">Crear tarjeta</a>
<a class="form__button" href="/logout">Cerrar sesión</a>

<ul class="cards-list">
{% for card in cards %}
<li class="card">
    <a href="/card/{{ card.id }}">
        <h2>{{ card.title }}</h2>
        <p>{{ card.subtitle }}</p>
    </a>
</li>
{% endfor %}
</ul>
</body>
</html>

